.lead { background: #9E003A; padding: 20px 0 25px; }
.lead h1{ text-align: center; color: #fff; font-weight: 400; font-size: 120% }
h3, .row-one label {font-size: 20px; font-weight: normal; }
h3 span { color: #9e0039; }
.row-two label { font-size: 18px; }
.row-four strong { font-size: 16px; }
.row-two em, .row-four em{ font-size: 14px; }
.row-two hr {
    border-top: 2px solid #9E003A;
}
.row-four { line-height: normal; }
.btn{ background-color:#9e0039; color: #ffffff; padding: 2px 20px; margin:10px 0 20px; font-style: 16px; border-radius:1px; }
.btn:hover, .btn:focus{ color:#cecece;}
.btnbig{ background-color:#7a0026; font-size: 20px; padding: 10px 45px; margin: 0; }
.form-control-feedback {
  display: none;
}
.has-feedback label~.form-control-feedback {
  top: 37px;
}
input[type=checkbox] {
 -ms-transform: scale(1.6); /* IE */
 -moz-transform: scale(1.6); /* FF */
 -webkit-transform: scale(1.4); /* Safari and Chrome */
 -o-transform: scale(1.6); /* Opera */
  padding: 10px;
  font-size: 18px;
}
hr{ margin-top: 1px; }
#CI_email-error, #CI_custom1-error, #CI_LID-error, #CI_custom3-error, #hiddenRecaptcha-error{ color:#a94442; }
.addmarginbottom{ margin-bottom: 50px; }
@media (min-width: 768px) {}
@media (min-width: 992px) {
	.lead h1{ font-size: 36px; }
	h3, .row-one label { font-size: 25px; }
}
@media (min-width: 1200px) {
	.lead h1{ font-size: 36px; }
	h3, .row-one label { font-size: 25px; }
}
